.menu{
	background-color: white;
}

.menu  li{
	display: inline;
}

.menu a{
	font-size : 12px;
	font-weight: bold;
	padding: 14px 10px;
	text-transform: uppercase;
	color: #00b0ff;
}

.intro{
	background-image: url("images/math-background.jpg");
	background-color: black;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.intro h1{
	color : #fff;
	font-size: 48px;
	font-weight: bold;
}

.intro p{
	color: white;
}

.intro h4{
	color: blue;
}

.intro a{
	color: #00b0ff;
}

body{
	
}