.intro h1{

	color : white;
}

.intro p{
	color: white;
}

.intro h4{
	color: blue;
}

body{
	background-image: url("images/math-background.jpg");
	background-color: black;
	background-repeat: no-repeat;
	background-size: cover;
}